body {
  max-width: 375px;
  font-family: Poppins, sans-serif;
  background-image: url("../images/header\ shapes.png");
  background-repeat: no-repeat;
  background-position: 0% -80%;
}

.header {
  margin: 2% 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

#background {
  position: relative;
}

.nav-item {
  text-decoration: none;
  color: #344563;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#ham-icon {
  width: 16px;
  height: 5px;
  background-color: #6070ff;
  margin: 6px 0;
}

.ham-icon {
  color: #6070ff;
  font-size: 15px;
  font-weight: 1000;
}

#main {
  margin-right: 2%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

#socials {
  padding-left: 6%;
  margin-top: 3%;
  display: flex;
  align-items: center;
}

.social-media-list {
  list-style: none;
  padding-left: 0%;
  width: 100%;
  margin-top: 1%;
  align-items: center;
}

.social-media-list li {
  display: inline-block;
  padding-right: 2.5%;
  justify-content: center;
}

.icons {
  padding-right: 8%;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  font-style: normal;
  padding-left: 6%;
  margin-top: 2%;
}

.main-heading {
  padding-left: 6%;
  padding-right: 12%;
  margin-top: 21%;
  margin-bottom: 0.5%;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 52px;
}

.main-paragraph {
  padding-left: 6%;
  padding-right: 14%;
  margin-bottom: 1.5%;
  margin-top: 2%;
  color: #344563;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
