.dropdown {
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.dropdown-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown.active .dropdown-menu {
  max-height: 500px;
}

.dropdown-menu li {
  border-radius: 8px;
  background: #f7f7f9;
  margin-bottom: 10px;
  padding: 20px;
}
